<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast" [class]="'toast--' + toast.type" [@slideIn]>
      <div class="toast-icon-wrap">
        <mat-icon class="toast-icon">{{ iconFor(toast.type) }}</mat-icon>
      </div>
      <span class="toast-message">{{ toast.message }}</span>
      <button class="toast-close" (click)="toastService.dismiss(toast.id)" aria-label="Dismiss">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  }
</div>
